# Core Deep Learning & Audio Frameworks
tensorflow==2.16.1
torch==2.2.1 --extra-index-url https://download.pytorch.org/whl/cu121
transformers==4.38.2

# Audio Processing Tools
librosa==0.10.1
soundfile==0.12.1
audioread==3.0.1

# Utilities
numpy==1.26.4
tqdm==4.66.2

#Backend
python-multipart
fastapi
uvicorn

